html,body{
  margin:0;
  padding:0;
}
#mobileNew{
  .newMain{
    padding:5px 15px;
    .fist-step{
      .name-tag{
        margin: 10px 0;
        font-size: 19px;
        .non-empty{
          color: red;
          margin-left: 5px;
        }
        .ques-name{
          width:calc(100% - 10px);
          margin-bottom: 5px;
        }
      }
      .tag-btn{
        display: flex;
        flex-wrap: wrap;
        .tag-btns{
          width:19%;
          line-height: 35px;
          margin:8px 8px;
          background-color: #FFFFFF;
          border: 1px solid #ddd;
          text-align: center;
        }
        .tag-active{
          background-color: #0d7ddc;
          color:#FFFFFF;
        }
      }
      .textarea-box{
        padding: 5px;
        border: 1px solid #ddd;
      }
      .next-step{
        width: 100%;
        line-height: 35px;
        margin: 100px auto 0;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        background: #0d7ddc;
      }
    }
    .second-step{
      margin-top: 10px;
      .name-tag{
        margin: 10px 0;
        font-size: 19px;
        .non-empty{
          color: red;
          margin-left: 5px;
        }
        .ques-name{
          width:calc(100% - 50px);
          margin-bottom: 5px;
        }
        .deletetitle{
          width: 16px;
          margin-left:10px;
          margin-top: 5px;
        }
      }
      .add-title,.add-option{
        margin:20px auto 0;
        width: 40%;
        line-height: 35px;
        font-size: 17px;
        background: #0d7ddc;
        color: #fff;
        text-align: center;
        border-radius: 5px;
      }
      .option-list{
        overflow: hidden;
        .option-list-head{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;
          .score{
            .optionscore{
              width: 30px;
              line-height: 14px;
              font-size: 14px;
            }
          }
        }
        .option-list-body{
          margin: 10px 0;
          .list-option-name{
            width: calc(100% - 12px);
          }
        }
        .option-list-foot{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 5px 0;
          line-height: 30px;
          font-size: 16px;
          .up,.down,.deleteoption{
            margin-right: 10px;
            img{
              width:16px;
              margin:5px 5px 0 0;
            }
          }
        }
      }
      .second-step-btn{
        margin-top:50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .step2-btn{
          width:35%;
          line-height: 40px;
          text-align: center;
          background: #0d7ddc;
          color: #fff;
          border-radius: 5px;
        }
      }

    }

  }
}