.ques-inter{
  border: none;
}
.publishSubmit{
  margin: 20px auto 20px;
  width: 90%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: #0d7ddc;
  border-radius: 5px;
}
