<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>邮箱登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../jQuery-weui-1.0.1/jquery-weui.css">
    <link rel="stylesheet" href="../jQuery-weui-1.0.1/weui.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/mobile-login.css">
    <script src="../jQuery-weui-1.0.1/jquery.min.js"></script>
    <script src="../jQuery-weui-1.0.1/jquery-weui.min.js"></script>
    <script src="../js/pub/vue.min.js"></script>
    <script src="../js/pub/vue-resource@1.3.3.js"></script>
</head>
<body>
<div id="mobileLogin">
    <!--<page-title page-title="用户登录" v-on:pagetitleparent="pageComeBack"></page-title>-->
    <div class="login-content">
        <div class="login-content-title">用户邮箱登录</div>
        <div class="login-content-main">
            <div class="login-mian-input">
                <div class="name-psw">用户名<span>*</span></div>
                <div class="name-psw-input"><input type="text" v-model="email"/></div>
            </div>
            <div class="login-mian-input">
                <div class="name-psw">密码<span>*</span></div>
                <div class="name-psw-input psw-input"><input type="password" v-model="password"/></div>
            </div>
        </div>
        <div class="login-content-btn">
            <div class="login-sub-cancel" @click="loginSubmit">登录</div>
            <div class="login-sub-cancel" @click="loginCancel">取消</div>
        </div>
    </div>
</div>
<script src="../js/mobile-login.js"></script>
</body>
</html>